@import '_variables';

body{
	margin: 0 auto;
	padding: 10px;
	background-color: $offblue;
	color: $black;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	float: left;
	overflow: hidden;
}

header,footer{
	width: 100%;
	float: left;
	text-align: center;
}

ul{
	li{
		list-style-type: none;
	}
}